.login-form {
  width: 500px;
}

.create-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.create-account-container p {
  margin: 0 1rem 0 0;
}
