.form-container .mat-display-3 {
  text-align: center;
  margin: 1rem 0;
}

.form-container .mat-display-2 {
  text-align: center;
  margin: 1rem 0;
}

.form-item-full {
  width: 100%;
  margin: 0.5rem 0;
}

.form-button-container {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form-button-container button {
  flex: 1;
}

.mat-checkbox-label {
  white-space: normal;
}
