@import '~@angular/material/theming';
@include mat-core();

.toast-success {
  background: mat-color($mat-green, 900);
  color: white;
}

.toast-error {
  background: mat-color(mat-palette($mat-red));
  color: white;
}

.toast-success .mat-simple-snackbar-action,
.toast-error .mat-simple-snackbar-action {
  color: white;
}
