<mat-card class="form-container">
  <mat-card-title>
    <h1 class="mat-display-2 form-title">Alterar senha</h1>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <mat-form-field class="form-item-full">
        <mat-label>Senha</mat-label>
        <input type="password" matInput [formControl]="password" />
        <mat-error *ngIf="password.hasError('required')"> Senha é <strong>obrigatória</strong> </mat-error>
      </mat-form-field>

      <mat-form-field class="form-item-full">
        <mat-label>Nova senha</mat-label>
        <input type="password" matInput [formControl]="newPassword" />
        <mat-error *ngIf="newPassword.hasError('required')"> Nova senha é <strong>obrigatória</strong> </mat-error>
      </mat-form-field>

      <div class="form-button-container">
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Salvar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
