@import '~@angular/material/theming';

@include mat-core();

.onbording-finished {
  flex-direction: column;
}

.icon-status {
  font-size: 5rem;
  height: 5rem;
  width: 5rem;
  margin: 1rem 0;
}

.icon-success {
  color: mat-color($mat-green, 900);
}

.icon-error {
  color: mat-color($mat-red, 900);
}
