@import './styles/typography';
@import './styles/form';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
}

.container-flex {
  height: calc(100% - 64px); // menos a altura da toolbar
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
